# Python
__pycache__/
*.py[cod]
*$py.class
*.log
.pytest_cache/
.env

# Data and Results
/data/
/results/
/results_archive/
/fixtures/*
!/fixtures/eval_tests_small.json
*.json.log
/tmp/
*.db
*.db-journal

# IDE
.vscode/
.idea/
